{% extends 'emails/layout' %}

{% block header %}
	Je gedeelde bestanden verlopen binnenkort
{% endblock %}

{% block content %}
	<h2>Hallo
		{{ share.user.first_name }},</h2>
	<p>Dit is een herinnering dat je gedeelde bestanden ({{ share.name }} / {{ share.long_id }}) over
		{{ share_expires_in }} zullen verlopen.</p>
	<p>Je kunt de vervaldatum verlengen in het gedeelte "Mijn Gedeelde Bestanden" van de app.</p>
{% endblock %}

{% block action_url %}
	{{ settings.application_url }}
{% endblock %}
{% block action_text %}
	Bezoek
	{{ settings.application_name }}
{% endblock %}
