{% extends 'emails/layout' %}

{% block header %} Je hebt bestanden om te downloaden
{% endblock %}

{% block content %}
	<h2>Hallo
		{{ recipient_name }},</h2>
	<p>{{ sender_name }} heeft {{ share.file_count }} bestand{{ share.file_count == 1 ? '' : 'en' }} met je gedeeld.</p>
  <p>Klik op de onderstaande knop om toegang te krijgen tot je bestanden.</p>
{% endblock %}

{% block action_url %}
	{{ settings.application_url }}/shares/{{ share.long_id }}
{% endblock %}
{% block action_text %}
	Bestanden Downloaden
{% endblock %}
