{% extends 'emails/layout' %}

{% block header %}
	Je gedeelde bestanden zijn verwijderd
{% endblock %}

{% block content %}
	<h2>Hallo
		{{ share.user.first_name }},</h2>
	<p>Dit is een melding dat je gedeelde bestanden ({{ share.name }}
		/
		{{ share.long_id }}) zijn verwijderd.</p>

	{% if share.download_count > 0 %}
		<p>De gedeelde bestanden zijn
			{{ share.download_count }}
			keer{{ share.download_count == 1 ? '' : 's' }} gedownload.</p>
	{% else %}
		<p>De gedeelde bestanden zijn niet gedownload.</p>
	{% endif %}

	<p>Deze gedeelde bestanden kunnen niet meer worden hersteld.</p>
{% endblock %}

{% block action_url %}
	{{ settings.application_url }}
{% endblock %}
{% block action_text %}
	Bezoek
	{{ settings.application_name }}
{% endblock %}
