{% extends 'emails/layout' %}

{% block header %}
	Je gedeelde bestanden worden binnenkort verwijderd
{% endblock %}

{% block content %}
	<h2>Hallo
		{{ share.user.first_name }},</h2>
	<p>Dit is een herinnering dat je gedeelde bestanden ({{ share.name }}
		/
		{{ share.long_id }}) over
		{{ deletes_in }} zullen worden verwijderd.</p>

	{% if share.download_count > 0 %}
		<p>De gedeelde bestanden zijn
			{{ share.download_count }}
			keer{{ share.download_count == 1 ? '' : 's' }} gedownload.</p>
	{% else %}
		<p>De gedeelde bestanden zijn niet gedownload.</p>
	{% endif %}

	<p>Je kunt ze opnieuw activeren in het gedeelte "Mijn Gedeelde Bestanden" van de app. Dit voorkomt dat ze worden verwijderd.</p>
{% endblock %}

{% block action_url %}
	{{ settings.application_url }}
{% endblock %}
{% block action_text %}
	Bezoek
	{{ settings.application_name }}
{% endblock %}
